<%= render 'layouts/search_form' %>
<div class="container px-5 px-sm-0">

  <%# <%= render "layouts/form_errors", model: @book %>
  <div class="row">

    <div class="col-md-3">
      <%= render 'layouts/section', user: current_user, book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Group Detail</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th id="test">グループ名</th>
            <th>紹介文</th>
            <th>メンバー</th>
            <th><th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <%= render 'groups/group_table', group: @group %>
            <td>
              <% @group.users.each do |member| %>
              <%= member.name %><br>
              <% end %>
            </td>
            <% if @group.owner_id == current_user.id %>
            <td><%= link_to 'Edit', edit_group_path(@group.id), class: "btn btn-success" %></td>
            <td><%= link_to 'Destroy', group_path(@group.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger" %></td>
            <% elsif @group.users.exists?(current_user.id) %>
            <td><%= link_to 'Leave this group', group_leave_path(@group.id), method: :delete, class: "btn btn-danger" %></td>
            <% else %>
            <td><%= link_to 'Join this group', group_join_path(@group.id), method: :post, class: "btn btn-info" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>