<h2>User info</h2>
<%= image_tag user.get_profile_image(100, 100) %>
<table class="table">
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
    <tr>
      <th>follows</th>
      <th>
        <%= link_to user_followings_path(user.id) do %>
          <%= user.followings.count %>
        <% end %>
      </th>
    </tr>
    <tr>
      <th>followers</th>
      <th>
        <%= link_to user_followers_path(user.id) do %>
          <%= user.followers.count %>
        <% end %>
      </th>
    </tr>
  </tbody>
</table>

<% if current_user == user %>
  <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
  <span><i class="fas fa-user-cog"></i></span>
  <% end %>
<% else %>
  <% if current_user.following?(user) %>
    <p>
      <%= link_to "フォロー外す", user_relationships_path(user.id), class: "btn btn-info", method: :delete %>
    </p>
  <% else %>
    <p>
      <%= link_to "フォローする", user_relationships_path(user.id), class: "btn btn-success", method: :post %>
    </p>
  <% end %>
    <span>
    <% if (current_user.following? @user) && (@user.following? current_user)  %>
      <% if @is_room == true %>
        <%= link_to 'チャットへ', room_path(@room_id)%>
      <% else %>
        <%= form_with model: @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, value: @user.id %>
          <% end %>
          <%= f.submit "チャットを始める" %>
        <% end %>
      <% end %>
    <% end %>
    </span>
<% end %>


