<h2>User Info</h2>
<%= form_with model: @user do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :image %>
  <%= f.file_field :image, placeholder: "プロフィール画像", accept: "image/*" %>
</div>
<div>
  <%= f.label :introduction %>
  <%= f.text_area :introduction %>
</div>
  <%= f.submit "Update User" %>
<% end %>