<div class="container px-5 px-sm-0">
  <%= render "layouts/form_errors", model: @book %>
  <div class="row">

    <div class="col-md-3">
    <%= render 'layouts/section', user: @user, book: @book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |b| %>
          <tr>
            <%= render 'books/book_table', book: b, size: 80 %>
          </tr>
          <% end %>
        </tbody>
      </table>

      <% if @user == current_user %>

      <h2>投稿数の前日比・全週比</h2>
      <div class="w-75">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>今日の投稿数</th>
              <th>前日の投稿数</th>
              <th>前日比</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @today_count %></td>
              <td><%= @yesterday_count %></td>
              <td><%= @today_yesterday_ratio %>%</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>今週の投稿数</th>
              <th>前週の投稿数</th>
              <th>前週比</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @week_count %></td>
              <td><%= @week_ago_count %></td>
              <td><%= @week_ratio %>%</td>
            </tr>
          </tbody>
        </table>

        <%= render 'layouts/chart' %>

      </div>
      <% end %>
    </div>

  </div>
</div>