<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/4153b5f8e1.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

<%= render "layouts/navigation" %>
  <div>
    <p>
      <%= flash[:notice] %>
    </p>
  </div>

<div id="post_raty"></div>
<script>
  let elem = document.querySelector('#post_raty');
  let opt = {
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
  };
  raty(elem, opt);
</script>

    <%= yield %>
<%= render "layouts/footer" %>

  </body>
</html>
